# Environments
.env
.venv
venv/
env/

# Python caching
__pycache__/
*.py[codz]
*$py.class
*.so

# IDEs & System
.vscode/
.idea/
.DS_Store
.cursorignore
.cursorindexingignore

# Editor backup files
*~
*.swp
*.swo

# Project specific
db.sqlite3
*.log
